.my-btn {
    margin-top: 20px;
    margin-bottom: 10px !important;
}

.glyphicon-remove:before {
    color: #9954bb;
    cursor: pointer;
}

@media screen and (max-width: 700px) {

    h3 {
        font-size: 20px;
    }

    body, button {
        font-size: 12px !important;
    }
}
